.profile__avatar-edit {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: transparent;
  z-index: 0;
}

.profile__avatar-edit:hover .profile__avatar-pen {
  visibility: visible;
  opacity: 1
}