.header__logo {
  width: 142px;
  height: 33px;
  background-image: url('../../../images/mesto.svg');
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.1px;
  }
}
