.profile__info {
  width: 336px;
  display: grid;
  grid-template-columns: 294px 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 18px;
  row-gap: 7px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__info {
    width: 282px;
    grid-template-columns: 1fr 189px 1fr;
    grid-template-rows: min-content min-content;
    column-gap: 10px;
    row-gap: 8px;
    justify-items: center;
  }
}
